rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
  	function validateResourceFields(data){
    	return data.keys().hasOnly(['name','owner','summary','waiting','createdAt']) &&      	
              data.name is string && 
              data.name.size() <= 50 &&                      
              data.owner is string && 
              data.owner.size() <= 50 &&                      
              data.summary is string && 
              data.summary.size() <= 1000 &&
              data.waiting is list &&              
              data.waiting.size() <= 50 &&
              data.createdAt is timestamp;
    }
    
    match /users/{userId} {
    	
    	allow create: if request.auth != null && 
      									request.auth.uid == userId &&
                        request.resource.data.keys().hasOnly(['dodoCode', 'next']) &&
      									request.resource.data.dodoCode is string && 
                        request.resource.data.dodoCode.size() == 5 && 
                        request.resource.data.next is string && 
                        request.resource.data.next.size() == 0;
                        
      allow read: if request.auth != null &&
      								(request.auth.uid == userId || 
                      // user reading dodo code is next
                      resource.data.next == request.auth.uid);

      allow update: if request.auth != null && 
      									request.auth.uid == userId;
    }
       
    match /centers/{centerId} {
    									
      allow create: if request.auth != null && 
      								validateResourceFields(request.resource.data) &&
                      request.resource.data.owner == request.auth.uid &&       								      								      								
                      request.resource.data.waiting.size() == 0 &&                                        
                      request.resource.data.createdAt == request.time &&
                      resource == null;
                      
      allow read: if request.auth != null;
      
      allow update: if request.auth != null && 
      								// owner removing visitor from waiting list
      								(request.auth.uid == resource.data.owner &&
                      validateResourceFields(request.resource.data) &&
                      request.resource.data.name == resource.data.name &&
                      request.resource.data.owner == resource.data.owner &&
                      request.resource.data.summary == resource.data.summary &&
                      request.resource.data.createdAt == resource.data.createdAt &&
      								request.resource.data.waiting.size() == resource.data.waiting.size() - 1) ||
                      // user adding themselves to waiting list
                      (validateResourceFields(request.resource.data) &&
      								request.resource.data.waiting.size() == resource.data.waiting.size() + 1 &&                      
      								request.resource.data.waiting[request.resource.data.waiting.size() - 1].keys().hasOnly(['name', 'uid', 'joinedAt']) &&
      								request.resource.data.waiting[request.resource.data.waiting.size() - 1].uid == request.auth.uid &&
      								request.resource.data.waiting[request.resource.data.waiting.size() - 1].name is string &&
      								request.resource.data.waiting[request.resource.data.waiting.size() - 1].name.size() <= 50 &&
                      request.resource.data.waiting[request.resource.data.waiting.size() - 1].joinedAt is timestamp);
                      
    }
  }
}